.jumbotron {
  text-align: center;
  background-image: url(../img/Pizza1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #c0392b;
  color: #ecf0f1;
}

body {
  background-color: #e67e22;
  background-image: url(../img/pizza2.jpg);
}

.background {
  background-color: rgba(243, 156, 18, 1);
  padding-bottom: 20px;
}

button {
  margin-top: 20px;

}

.names {
  margin-left: 50px;
  margin-top: 25px;
}

.orders {
  cursor: pointer;
  color: black;
}

.orders:hover {
  text-decoration: underline;
}

.orderslist {
  list-style: decimal;
}

.display {
  display: none;
  list-style: none;

  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}
