.results {
  display: none;
}

body {
  font-family: monospace;
  background: #ecf0f1;

}
h2, h3 {
  font-weight: bold;
}
.result {
  padding-left: 200px;
}

button {
  background-color: green;
  color: white;
}

button:hover {
  background-color: white;
  color: green;
  border-color: green;
}

.footer {
  text-align: center;
  background-color: green;
  color: white;
  bottom: 0;
  margin-top: 100px;
}

.jumbotron {
  text-align: center;
  font-family: monospace;
  background-color: green;
  color: white;
}
